
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'guest/style.css' %}">

<div class="header">
<h1> Welcome to the wedding party website! </h1>
</div>

<div class="navbar">
    <a href="{% url 'main-index' %}" >Home</a>
    <a href="{% url 'vote-index' %}" >Vote</a>
    <a href="{% url 'results' %}">Results</a>
    <a href="{% url 'music-playing' %}">Playing</a>
    <a href="{% url 'scavenge-index' %}"class="active">Scavenger Hunt</a>
</div>

<div class="main">
    <P>
    <i>
    They went to Halloween parties rocking Scully and Mulder<br>
    They traversed New York to become first householders<br>
    Hiking and forages<br>
    "Ithaca is Gorges"<br>
    Surprised that they haven't yet learned to boulder<br>
    </i>
    </P>

    <table style="width:75%; position: fixed; bottom: 10px">
        <tr>
            <td>Progress:</td>
            <td>{% if progress0 == '1' %}<a href="{% url 'scavenge-1' %}">✔</a>{% else %}❌{% endif %}</td> 
            <td>{% if progress1 == '1' %}<a href="{% url 'scavenge-2' %}">✔</a>{% else %}❌{% endif %}</td> 
            <td>{% if progress2 == '1' %}<a href="{% url 'scavenge-3' %}">✔</a>{% else %}❌{% endif %}</td> 
            <td>{% if progress3 == '1' %}<a href="{% url 'scavenge-4' %}">✔</a>{% else %}❌{% endif %}</td> 
            <td>{% if progress4 == '1' %}<a href="{% url 'scavenge-5' %}">✔</a>{% else %}❌{% endif %}</td> 
            <td>{% if progress5 == '1' %}<a href="{% url 'scavenge-6' %}">✔</a>{% else %}❌{% endif %}</td> 
            <td>{% if progress6 == '1' %}<a href="{% url 'scavenge-7' %}">✔</a>{% else %}❌{% endif %}</td> 
            <td>{% if progress7 == '1' %}<a href="{% url 'scavenge-8' %}">✔</a>{% else %}❌{% endif %}</td> 
        </tr>
    </table>
</div>