
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'guest/style.css' %}">

<div class="header">
<h1> Welcome to the wedding party website! </h1>
</div>

<div class="navbar">
    <a href="{% url 'main-index' %}" >Home</a>
    <a href="{% url 'vote-index' %}" >Vote</a>
    <a href="{% url 'results' %}">Results</a>
    <a href="{% url 'music-playing' %}">Playing</a>
    <a href="{% url 'scavenge-index' %}"class="active">Scavenger Hunt</a>
</div>

<div class="main">
    <h2>Clue 7:</h2>
    <P>
    <i>
        And then came the part where we all stayed inside<br>
        A serial web surfer and a curious bride<br>
        Like the web that can't hold this Virus<br>
        Your clue is not on papyrus<br>
        Without leaving their address, they lived worldwide<br>
    </i>
    </P>

    <table style="width:75%; position: fixed; bottom: 10px">
        <tr>
            <td>Progress:</td>
            <td>{% if progress0 == '1' %}<a href="{% url 'scavenge-1' %}">✔</a>{% else %}❌{% endif %}</td> 
            <td>{% if progress1 == '1' %}<a href="{% url 'scavenge-2' %}">✔</a>{% else %}❌{% endif %}</td> 
            <td>{% if progress2 == '1' %}<a href="{% url 'scavenge-3' %}">✔</a>{% else %}❌{% endif %}</td> 
            <td>{% if progress3 == '1' %}<a href="{% url 'scavenge-4' %}">✔</a>{% else %}❌{% endif %}</td> 
            <td>{% if progress4 == '1' %}<a href="{% url 'scavenge-5' %}">✔</a>{% else %}❌{% endif %}</td> 
            <td>{% if progress5 == '1' %}<a href="{% url 'scavenge-6' %}">✔</a>{% else %}❌{% endif %}</td> 
            <td>{% if progress6 == '1' %}<a href="{% url 'scavenge-7' %}">✔</a>{% else %}❌{% endif %}</td> 
            <td>{% if progress7 == '1' %}<a href="{% url 'scavenge-8' %}">✔</a>{% else %}❌{% endif %}</td> 
        </tr>
    </table>
</div>