/* Style the body */
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}
  
/* Header/logo Title */
.header {
	padding: 30px;
	text-align: center;
	background: #552e6f;
	color: white;
}

/* Increase the font size of the heading */
.header h1 {
	font-size: 60px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
	overflow: hidden;
	background-color: #333;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

/* Style the navigation bar links */
.navbar a {
	float: left;
	display: block;
	color: white;
	font-size: 35px;
	text-align: center;
	padding: 20px 25px;
	text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
	float: right;
}

/* Change color on hover */
.navbar a:hover {
	background-color: #ddd;
	color: black;
}

/* Active/current link */
.navbar a.active {
	background-color: #666;
	color: white;
}

/* Column container */
.row {  
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
	-ms-flex: 30%; /* IE10 */
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
}

/* Main column */
.main {   
	-ms-flex: 70%; /* IE10 */
	flex: 70%;
	font-size: 30px;
	background-color: white;
	padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}

/* Footer */
.footer {
	padding: 10px;/
	text-align: center;
	background: #fad9b7;
}

.overlay{
	position:absolute;
	top:30%;
	width:100%;
	z-index:50;
	text-align:center;
  }

.button {
	box-sizing: border-box;
	width: 100%;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.button1 {
	background-color: white; 
	color: black; 
	border: 2px solid #4CAF50;
}

.button1:hover {
	background-color: #4CAF50;
	color: white;
}

.button2 {
	background-color: white; 
	color: black; 
	border: 2px solid #008CBA;
}

.button2:hover {
	background-color: #008CBA;
	color: white;
}

.button3 {
	background-color: white; 
	color: black; 
	border: 2px solid #f44336;
}

.button3:hover {
	background-color: #f44336;
	color: white;
}

.button4 {
	background-color: white;
	color: black;
	border: 2px solid #ff7300;
}

.button4:hover {background-color: #ff7300;}

.buttonDisabled {
	background-color: white; 
	color: rgb(32, 32, 32); 
	border: 2px solid #444444;
}

.blur {
	-ms-flex: 70%; /* IE10 */
	flex: 70%;
	font-size: 30px;
	background-color: white;
	padding: 20px;
	filter: blur(4px);
}


small {
	color:#aaa;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
	.row {   
		flex-direction: column;
	}
}

/* Responsive layout - when the screen is less than 1130px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
	.navbar a {
		float: none;
		width: 100%;
	}
}

