{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'guest/style.css' %}">

<div class="header">
<h1> Welcome to the wedding party website! </h1>
</div>

<div class="navbar">
    <a href="{% url 'main-index' %}" >Home</a>
    <a href="{% url 'vote-index' %}" class="active">Vote</a>
    <a href="{% url 'results' %}">Results</a>
    <a href="{% url 'music-playing' %}">Playing</a>
    <a href="{% url 'scavenge-index' %}">Scavenger Hunt</a>
</div>

{% if not user.is_authenticated %}
<P> Login/Scan nametag to vote.</P>
{% elif choices %}
    <form action="{% url 'vote' %}" method="post">                                                                                                                                             
    {% csrf_token %}                                                                                                                                                                           
    {% for choice in choices %}                                                                                                                                                                
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">                                                                                            
        <label for="choice{{ forloop.counter }}">{{ choice.song.name }}</label><br>                                                                                                            
    {% endfor %}                                                                                                                                                                               
    <input type="submit" value="Vote">                                                                                                                                                         
    </form>                                                                                                                                                                                    
{% else %}                                                                                                                                                                                     
    <p>No polls are available.</p>                                                                                                                                                             
{% endif %}   