{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'guest/style.css' %}">

<div class="header">
<h1> Welcome to the wedding party website! </h1>
</div>

<div class="navbar">
    <a href="{% url 'main-index' %}" >Home</a>
    <a href="{% url 'vote-index' %}" class="active">Vote</a>
    <a href="{% url 'results' %}">Results</a>
    <a href="{% url 'music-playing' %}">Playing</a>
    <a href="{% url 'scavenge-index' %}">Scavenger Hunt</a>
</div>

<script>
    var timeleft = {{ timeRemaining }};
    var downloadTimer = setInterval(function(){
    document.getElementById("countdown").innerHTML = timeleft + " seconds until the next song.";
    if(timeleft <= 0){
        clearInterval(downloadTimer);
        document.getElementById("countdown").innerHTML = "Refresh the page to vote";
    } else {
        document.getElementById("countdown").innerHTML = timeleft + " seconds until the next song.";
    }
    timeleft -= 1;
    }, 1000);
</script>

<div class="main">
    {% if not user.is_authenticated %}
        <P> Login/Scan nametag to vote.</P>
    {% endif %}

    {% if playing and user.is_authenticated and choices %}
        <div style="position:relative; width:100%; justify-content: flex-end;">

        {% if user.guest.hasVoted or timeRemaining <= 0 %}
            <h2 class="overlay"><span id="countdown"></span></h2>
            <div class="blur">
        {% else %}
            <div style="position:relative; width:100%">
        {% endif %}

        {% for choice in choices %}                                                                                                                                                                
            <form id="choice{{ forloop.counter }}" action="{% url 'vote' %}" method="post">                                                                                                                                             
                {% csrf_token %}                                                                                                                                                                           
                {% if user.guest.hasVoted %}
                    <button class="button buttonDisabled" type="submit" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" disabled>
                        {{ choice.song.name }}<br/>
                        <small>{{choice.song.artist_name}}</small>
                    </button>
                {% else %}
                    <button class="button button{{ forloop.counter }}" type="submit" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        {{ choice.song.name }}<br/>
                        <small>{{choice.song.artist_name}}</small>
                    </button>
                {% endif %}
            </form>                                                                                                                                                                                    
        {% endfor %}                                                                                                                                                                               
        </div>

        <p id="timeText"><span id="countdown"></span></p>
        
        </body>
        </div>
    {% else %}                                                                                                                                                                                     
        <P> Music is not playing yet. It'll start later in the night. </P>
    {% endif %}
</div>