{% load static %}
<html>

<link rel="stylesheet" type="text/css" href="{% static 'guest/style.css' %}">

<div class="header">
<h1> Welcome to the wedding party website! </h1>
</div>

<div class="navbar">
    <a href="{% url 'main-index' %}" >Home</a>
    <a href="{% url 'vote-index' %}" class="active">Vote</a>
    <a href="{% url 'results' %}">Results</a>
    <a href="{% url 'music-playing' %}">Playing</a>
    <a href="{% url 'scavenge-index' %}">Scavenger Hunt</a>
</div>


<div class="main">
    {% if not user.is_authenticated %}
        <P> Login/Scan nametag to vote.</P>
    {% endif %}

    {% if playing and user.is_authenticated and choices %}
        <div style="height:600px; position:relative; width:100%; justify-content: flex-end;">

        {% if user.guest.hasVoted or voteTimeRemaining > 10000 %}
            <h2 id="countdown" class="overlay">{{ songTimeRemaining }}</h2>
            <div class="blur">
        {% else %}
            <div style="position:relative; width:100%">
        {% endif %}

        {% for choice in choices %}                                                                                                                                                                
            <form id="choice{{ forloop.counter }}" action="{% url 'vote' %}" method="post">                                                                                                                                             
                {% csrf_token %}                                                                                                                                                                           
                {% if user.guest.hasVoted or voteTimeRemaining > 10000 %}
                    <button class="button buttonDisabled" type="submit" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" disabled>
                        {{ choice.song.name }}<br/>
                        <small>{{choice.song.artist_name}}</small>
                    </button>
                {% else %}
                    <button class="button button{{ forloop.counter }}" type="submit" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        {{ choice.song.name }}<br/>
                        <small>{{choice.song.artist_name}}</small>
                    </button>
                {% endif %}
            </form>                                                                                                                                                                                    
        {% endfor %}                                                                                                                                                                               
        </div>

        {% if not user.guest.hasVoted and voteTimeRemaining < 10000 %}
            <p id="timeText"><span id="voteCountdown">{{ voteTimeRemaining }}</span></p>
        {% endif %}
        
        </body>
        </div>
    {% endif %}                                                                                                                                                                                     

    {% if user.is_authenticated and not playing %}
        <P> Music is not playing yet. It'll start later in the night. </P>
    {% endif %}
</div>

<script>
    var votetimeleft_text = document.getElementById("voteCountdown");
    if (votetimeleft_text) {
        var votetimeleft = votetimeleft_text.textContent;
        var voteTimer = setInterval(function(){
        document.getElementById("voteCountdown").innerHTML = votetimeleft + " seconds until voting ends";
        if(votetimeleft <= 0){
            clearInterval(voteTimer);
            setTimeout(() => {location.href = "/choicepoll/";}, 1000);
        } else {
            document.getElementById("voteCountdown").innerHTML = votetimeleft + " seconds until voting ends.";
        }
        votetimeleft -= 1;
        }, 1000);
    }

    var songtimeleft_text = document.getElementById("countdown");
    if (songtimeleft_text) {
        var songtimeleft = songtimeleft_text.textContent;
        var songTimer = setInterval(function(){
        document.getElementById("countdown").innerHTML = "Next song in " + songtimeleft + " seconds";
        if(songtimeleft <= 0){
            clearInterval(songTimer);
            setTimeout(() => {location.href = "/choicepoll/";}, 1000);
        } else {
            document.getElementById("countdown").innerHTML = "Next song in " + songtimeleft + " seconds";
        }
        songtimeleft -= 1;
        }, 1000);
    }

</script>

</html>