{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'guest/style.css' %}">

<div class="header">
<h1> Welcome to the wedding party website! </h1>
</div>

<div class="navbar">
    <a href="{% url 'main-index' %}" >Home</a>
    <a href="{% url 'vote-index' %}" class="active">Vote</a>
    <a href="{% url 'results' %}">Results</a>
    <a href="{% url 'music-playing' %}">Playing</a>
    <a href="{% url 'scavenge-index' %}">Scavenger Hunt</a>
</div>

<script>
    var time = 5;
  setInterval(function() {
    if(time > 0) {
      document.getElementById("timecounter").innerHTML = "Voting will open back up for others in " + time + " seconds.";
      time--;
    } else {
      location.href="/choicepoll/" 
    }

  },1000)
</script>

<div class="main">
    <h2>Vote Counted!</h2>
    <p>Thanks for voting. Please respect democracy by only voting once.</p>
    <p><span id="timecounter"></span></p>
</div>